@import 'light.css';

body {
    font-size: .98rem;
}

.input-group {
    width: auto;
}

.text-primary-dotted {
    border-bottom: 1px dashed;
}

.text-primary-dotted:hover {
    text-decoration: none;
}

/* SIDEBAR */
.sidebar-brand a img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.sidebar-brand a {
    color: #fff;
    text-decoration: none;
}
.sidebar-brand a span {
    display: inline-block;
    vertical-align: middle;
}
.badge-sidebar-primary,
.badge-sidebar-secondary {
    top: 15px;
}
/* SIDEBAR */


/* NAVBAR */

.navbar-expand .navbar-nav .dropdown-menu {
    right: 0;
}

/* NAVBER */



/* TABLE */
.table {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.table th {
    font-size: 0.8rem;
}
.table .rounded-circle {
    width: 30px;
    height: 30px;
}
table.dataTable {
    margin: 0;
}
/* TABLE */


/* FILEPOND */
.filepond--item {
    width: calc(25% - 0.5em);
}
/* FILEPOND */


/* ERRORS */

.border-danger {
    border-color: #d9534f;
}

/* ERRORS */


/* AUTH FORM */

#auth_form {
    animation: auth_form_fade 1s;
}

@keyframes auth_form_fade {
    0% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 100%;}
}

/* AUTH FORM */


/* PROJECT ITEM */

.project_chat {
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}

/* PROJECT ITEM */